.grid-container{
    display: grid;
    /*height: 400px;*/
    background-color: cornsilk;
    grid-template-areas: 'header header header'
    'menu main aside' 
    'menu footer footer';
    /*grid-template-columns: auto auto auto;*/
    /*grid-template-rows: 50px auto 100px;*/
    /*justify-content: end;*/
    /*align-content: end;*/
}

.grid-container div{
    background-color: crimson;
    text-align: center;
    color: white;
    padding: 10px;
    border: 1px solid black;
}

.item1{
    /*grid-area: 1/ 2/ 5/ 5;*/
    grid-area: header;
}


.item2{
    grid-area: menu;  
}

.item3{
    grid-area: main;
}

.item4{
    grid-area: aside;  
}

.item5{
    grid-area: footer;  
}